.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
  font-size: 13px;
}
#badge-find {
  width: 5px;
  height: 5px;
  position: absolute;
  top: 40px;
  right: 18px;
}
